body {
    --primaryColor: #24698B;
    --secondaryColor: #ffce00;
    --fontColour: #1e1e1e;
    --whiteColour: #fff;
    --greycolour: #e7e7e7;
    --darkGreyColour: #5f5f5f;
    --softPurple: #e7e8ff;
    --softBlue: #c3e1ff;
    --softYellow: #fff5cc;
    --softRed: #ffcbc8;
    --softGrey: #cccccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-size: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--primaryColor);
    color: var(--whiteColour);
    position: fixed;
    left: 0;
}

.logo {
    letter-spacing: 2;
}

.menus {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menus a {
    display: flex;
    align-items: center;
    color: var(--whiteColour);
    text-decoration: none;
}

.menus ion-icon {
    margin-right: 0.5rem;
}

.menus a:hover {
    color: var(--secondaryColor);
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--whiteColour);
    color: var(--fontColour);
    border: none;
    border-radius: 10px;
    box-sizing: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.profile:hover {
    background-color: var(--secondaryColor);
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.profile-name p {
    font-size: 12px;
}

.main {
    width: 80%;
    min-width: 300px;
    min-height: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem 2%;
    margin-left: 20%;
    background-color: var(--softPurple);
    z-index: 1;
}

.main-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-bar {
    background-color: var(--whiteColour);
    padding: 0.5rem;
    border-radius: 20px;
    display: none;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    position: relative;
    background-color: var(--whiteColour);
}

.search input {
    width: 90%;
    border: none;
}

.btn-search {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0.5%;
    border: none;
    background-color: var(--primaryColor);
    color: var(--whiteColour);
    font-size: 18px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.btn-search:hover {
    background-color: var(--secondaryColor);
}

.filter-wrapper {
    margin: 1rem 0;
    font-size: 14px;
}

.filter {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.btn-filter {
    min-width: 110px;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background-color: var(--whiteColour);
    cursor: pointer;
}

.btn-filter:hover {
    background-color: var(--primaryColor);
    color: var(--whiteColour);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sort {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.sort p {
    font-size: 14px;
}

.sort-list select {
    height: 1.5rem;
    border-radius: 20px;
    border: none;
    margin-top: 0 0.5rem;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
    overflow-y: auto;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 3%;
    gap: 1rem;
    line-height: 1.5;
    background-color: var(--whiteColour);
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    border-radius: 10px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-left {
    width: 10%;
    min-width: 50px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
}

.card-left img {
    width: 100%;
    height: auto;
    min-height: 60px;
    padding: 1rem;
}

.card-center {
    width: 50%;
}

.card-loc,
.card-sub {
    font-size: 13px;
    color: var(--darkGreyColour);
}

.card-sub {
    display: flex;
    flex-wrap: wrap;
}

.card-sub p {
    display: flex;
    padding: 0 0.5rem 0 0;
    align-items: center;
}

.card-right {
    width: 15%;
}

.card-tag a {
    color: var(--fontColour);
    font-size: 13px;
}

.card-salary {
    padding: 0.5rem 0;
    color: var(--primaryColor);
}

.card-center span {
    color: var(--fontColour);
    font-size: 13px;
}

.blue-bg {
    background-color: var(--softBlue);
}

.yellow-bg {
    background-color: var(--softYellow);
}

.red-bg {
    background-color: var(--softRed);
}

.grey-bg {
    background-color: var(--softGrey);
}

.purple-bg {
    background-color: var(--softPurple);
}

.sidebar.active {
    display: flex;
    width: 220px;
    z-index: 100;
}

@media screen and (max-width: 880px) {
    .menu-bar {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .main {
        width: calc(100% - 40%);
        margin-left: 0;
    }

    .detail {
        width: 48%;
    }
}

@media screen and (max-width: 700px) {
    .main {
        width: 100%;
    }

    .detail.active {
        display: block;
        width: 100%;
        z-index: 100;
    }

    .detail.active .close-detail {
        display: block;
        cursor: pointer;
    }
}

@media screen and (max-width: 480px) {
    .card-loc,
    .card-sub,
    .card-tag {
        display: none;
    }
}
