<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Search Dashboard</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/botstyle.css">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
  <script src="/static/bot.js" defer></script>
  
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <style>
    /* Additional styles if needed */
    .jumbotron{
      background-color: #e7e8ff;
  }
  .side-bar{
    padding: 16px;
    border-radius: 4px ;
    margin:  0 auto;
    text-align: center;
  }
  .fix{
    position: sticky;
    margin-top: 20px;
    top: 100px;
     
  }
  .fixNav1{
    position: sticky;
    top: 0;
    /* overflow: hidden; */
    z-index: 34;
  }
  .chat {
    
    margin: 0 auto;
    padding: 20px;
}
.chat-container {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    max-height: 400px;
    overflow-y: auto;
}
.message {
    margin-bottom: 10px;
}
.user-message {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
}
svg{
  color: #000;
}
.assistant-message {
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 10px;
}
.input-container {
    display: flex;
}
.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
}
.input-container button {
    padding: 10px 20px;
    background-color:#ffffff;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
  </style>
</head>
<body>
  <!-- Navbar Component -->
  <div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixNav1  ">
    <div class="container">
      <a class="navbar-brand" href="#">Job Search Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                 
                  Logout
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mr-1" style="width: 15px;" >
                    <path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"></path>
                </svg>
              </a>
          
            <!-- <a class="nav-link" href="#">Logout <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="logout"><path d="M4,12a1,1,0,0,0,1,1h7.59l-2.3,2.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0l4-4a1,1,0,0,0,.21-.33,1,1,0,0,0,0-.76,1,1,0,0,0-.21-.33l-4-4a1,1,0,1,0-1.42,1.42L12.59,11H5A1,1,0,0,0,4,12ZM17,2H7A3,3,0,0,0,4,5V8A1,1,0,0,0,6,8V5A1,1,0,0,1,7,4H17a1,1,0,0,1,1,1V19a1,1,0,0,1-1,1H7a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V5A3,3,0,0,0,17,2Z"></path></svg></a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <!-- Sidebar Component -->
      <div class="col-lg-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fix">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse side-bar" id="navbarSupportedContent">
            <ul class="navbar-nav flex-column ">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="18px" viewBox="-24 -24 448.00 448.00" xml:space="preserve" stroke="#000000" stroke-width="16.800168" transform="matrix(1, 0, 0, 1, 0, 0)rotate(0)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757 c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072 c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315 C400.004,190.438,392.251,182.686,382.688,182.686z"></path> </g> </g></svg>
                  Home</a>
              </li>
              <li class="nav-item">
                <a class=" list-group-item-action active nav-link " href="#suggest">JobListings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#analyze">JobFit Analyzer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#saved">Saved Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#appied">Applied Jobs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
              </li>
              <li type="button" class="btn ">
                Notifications <span class="badge badge-light">4</span>
              </li>
            </ul>
          </div>
        </nav>
        
      </div>

      <div class="col-lg-9" id="suggest">
      

        <!-- JobListings Component -->

              <div class="jumbotron">
                <h1 class="display-4">Upload Your CV</h1>
                <p class="lead">Please follow the instructions below to upload your CV:</p>
                <hr class="my-4">
                <p>Step 1: Prepare your CV in PDF format.</p>
                <p>Step 2: Click on the "Choose file" button below.</p>
                <p>Step 3: Select your CV file from your computer.</p>
                <p>Step 4: Click the "Upload" button to upload your CV.</p>
                  <!-- <p class="lead">Please upload your resume in PDF format:</p> -->
                  <form action="/upload" method="post" id="uploadForm" enctype="multipart/form-data">
                      <div class="custom-file">
                          <input type="file" class="custom-file-input" id="resumeInput" name="resume" accept=".pdf" onchange="updateFileName()">
                          <label class="custom-file-label" for="resumeInput" >Choose file</label>
                      </div>
                      <br>
                      <button type="submit"   class="btn btn-primary mt-2" >Upload</button> <span class="lead mt-4">or</span>
                      
                      <a class="btn btn-info mt-2 ml-3" href='/'>Generate Your Resume </a>
                    </form>
                    
                    <!-- <h2>Or</h2> -->
                    
                  </div> 
                 
                  <div class="dot" style="margin-top:20px; "  >
                     <hr>
                     <div class="mb-4">
                    
                     </div>
                  </div>
                  
                  
                  <section id="analyze">
                    <div class="container">
                        <div class="row " >
                            <div class="col-md-6">
                                <div class="header">
                                    <h1 class="mt-2 ">Smart ATS</h1>
                                    <p class="mt-3 ">Improve Your Resume ATS</p>
                                </div>
                                <div class="content">
                                    <video src="{{ url_for('static', filename='video/atsscan.mp4') }}" width="100%" height="auto" autoplay loop  type="video/mp4"></video>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="content">
                                  <p class="lead">Optimize your resume with Smart ATS:</p>
                                  <p>Improve your resume's performance in ATS, which scans for keywords and formatting.</p>
                                  <p>Analyze job descriptions, upload your resume, and get feedback to optimize it.</p>
                                </div>
                                <form action="/improvecv" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="job_description">Paste the Job Description</label>
                                        <textarea id="job_description" name="job_description" class="form-control" placeholder="Enter the job description here..." rows="4" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="resume">Upload New Resume (PDF)</label>
                                        <div class="custom-file">
                                          <input type="file" class="custom-file-input" id="resumeInput" name="resume" accept=".pdf" onchange="updateFileName()">
                                          <label class="custom-file-label" for="resumeInput" >Choose file</label>
                                      </div>
                                        <!-- <input type="file" id="resume" name="resume" class="form-control-file" accept=".pdf" required> -->
                                        <small class="form-text text-muted">Please upload the PDF file.</small>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary">Submit</button>
                               
                                  </form>
                                  <form action="/check" method="GET">
                                    <!-- <button type="submit" class="btn btn-info">Existing Button</button> -->
                                   </form>
                            </div>
                        </div>
                    </div>
                    <div class="matching-jobs mt-4">
                        <div id="jobListingContainer" class="row">
                            <!-- Matching jobs will be dynamically added here -->
                        </div>
                    </div>
                </section>
                
                
                <div class="chatbot">
                  <header>
                    <h2><span class="material-symbols-outlined">smart_toy</span> JobMentee .AI</h2>
                    <span class="close-btn material-symbols-outlined effect">close</span>
                  </header>
                  <ul class="chatbox">
                    <li class="chat incoming">
                      <span class="material-symbols-outlined">smart_toy</span>
                      <p>Hi there 👋<br>How can I help you today?</p>
                    </li>
                  </ul>
                  <div class="chat-input">
                    <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
                    <span id="send-btn" class="material-symbols-rounded">send</span>
                  </div>
                </div>
                <script>
                 async  function   getResponse(userInput){
                    try{
                      const resp=await  fetch('http://127.0.0.1:5000/chat', {
                        method: 'POST',
                       headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({ message: userInput }),
                      })
                      return resp
                    }
                    catch(error){
                      console.log(error);
                      throw Error("error while getting response from server")
                    }
                  }
                
                  document.getElementById('send-btn').addEventListener('click', function () {
                    const userInput = document.querySelector('.chat-input textarea').value;
                    if (userInput.trim()) {
                      // Display user message
                      const userMessageElem = document.createElement('li');
                      userMessageElem.className = 'chat outgoing';
                      userMessageElem.innerHTML = `<p>${userInput}</p>`;
                      document.querySelector('.chatbox').appendChild(userMessageElem);
                
                      // Send message to server
                
                      getResponse(userInput).then((resp=>resp.json())).then(data => {
                        // Display bot response
                        console.log(data,"DFSGDF");
                        const botMessageElem = document.createElement('li');
                        botMessageElem.className = 'chat incoming';
                        botMessageElem.innerHTML = `<span class="material-symbols-outlined">smart_toy</span><p>${data.response}</p>`;
                        document.querySelector('.chatbox').appendChild(botMessageElem);
                      })
                      .catch(error => console.error('Error:', error));
                     // 
                     // fetch('http://127.0.0.1:5000/chat', {
                     //   method: 'POST',
                     //  
                     //   body: JSON.stringify({ message: userInput }),
                     // })
                     //   .then(response => response.json())
                     //   .then(data => {
                     //     // Display bot response
                     //     const botMessageElem = document.createElement('li');
                     //     botMessageElem.className = 'chat incoming';
                     //     botMessageElem.innerHTML = `<span class="material-symbols-outlined">smart_toy</span><p>${data.response}</p>`;
                     //     document.querySelector('.chatbox').appendChild(botMessageElem);
                     //   })
                     //   .catch(error => console.error('Error:', error));
                
                     // // Clear the textarea
                      document.querySelector('.chat-input textarea').value = '';
                    }
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
        
        <script>
          async  function   getResponse(userInput){
             try{
               const resp=await  fetch('http://127.0.0.1:5000/chat', {
                 method: 'POST',
                headers: {'Content-Type': 'application/json'},
                 body: JSON.stringify({ message: userInput }),
               })
               return resp
             }
             catch(error){
               console.log(error);
               throw Error("error while getting response from server")
             }
           }
         
           document.getElementById('send-btn').addEventListener('click', function () {
             const userInput = document.querySelector('.chat-input textarea').value;
             if (userInput.trim()) {
               // Display user message
               const userMessageElem = document.createElement('li');
               userMessageElem.className = 'chat outgoing';
               userMessageElem.innerHTML = `<p>${userInput}</p>`;
               document.querySelector('.chatbox').appendChild(userMessageElem);
         
               // Send message to server
         
               getResponse(userInput).then((resp=>resp.json())).then(data => {
                 // Display bot response
                 console.log(data,"DFSGDF");
                 const botMessageElem = document.createElement('li');
                 botMessageElem.className = 'chat incoming';
                 botMessageElem.innerHTML = `<span class="material-symbols-outlined">smart_toy</span><p>${data.response}</p>`;
                 document.querySelector('.chatbox').appendChild(botMessageElem);
               })
               .catch(error => console.error('Error:', error));
              // 
              // fetch('http://127.0.0.1:5000/chat', {
              //   method: 'POST',
              //  
              //   body: JSON.stringify({ message: userInput }),
              // })
              //   .then(response => response.json())
              //   .then(data => {
              //     // Display bot response
              //     const botMessageElem = document.createElement('li');
              //     botMessageElem.className = 'chat incoming';
              //     botMessageElem.innerHTML = `<span class="material-symbols-outlined">smart_toy</span><p>${data.response}</p>`;
              //     document.querySelector('.chatbox').appendChild(botMessageElem);
              //   })
              //   .catch(error => console.error('Error:', error));
         
              // // Clear the textarea
               document.querySelector('.chat-input textarea').value = '';
             }
           });
         </script>
         
          <script src="sweetalert2.min.js"></script>
          <script>
              document.getElementById('uploadForm').addEventListener('file', function(event) {
                  // Prevent default form submission behavior
                  event.preventDefault();
      
                  // Display success alert
                  alertSuccess();
                });
              function updateFileName() {
                  const fileInput = document.getElementById('resumeInput');
                  const fileName = fileInput.files[0].name;
                  const label = document.querySelector('.custom-file-label');
                  label.textContent = fileName;  
                  alertSuccess();
              }
              function alertSuccess(){
                    // Display success alert
                    let timerInterval;
      Swal.fire({
        title:"Uploading file...",
        html: "completing in <b></b> milliseconds.",
        timer: 400,
        timerProgressBar: true,
        didOpen: () => {
          Swal.showLoading();
          const timer = Swal.getPopup().querySelector("b");
          timerInterval = setInterval(() => {
            timer.textContent = `${Swal.getTimerLeft()}`;
          }, 100);
        },
        willClose: () => {
          clearInterval(timerInterval);
        }
      }).then((result) => {
        /* Read more about handling dismissals below */
        if (result.dismiss === Swal.DismissReason.timer) {
          console.log("I was closed by the timer");
        }
      });
              //      Swal.fire({
              //        title: 'Success!',
              //        text: 'File uploaded successfully.',
              //        icon: 'success',
              //        confirmButtonText: 'Ok'
              //    });
              }
            
              
      
          </script>
          <script src="./index.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
          <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
