{% extends 'layout.html' %}
{% block body %}
    
<style>
  .effect:hover{
    height: 59px;
    width: 54px;
  }
</style>
<body>
    <div class="wrapper">
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <!-- <img src="{{ url_for('static', filename='images/logo.jpeg') }}" width="30" height="30" class="d-inline-block align-top me-2" style="mix-blend-mode: multiply;" alt=""> -->
                        <span class="logo mr-0 h2" style="font-family:Verdana, Geneva, Tahoma, sans-serif">J</span>ob<span class="logo mr-0" style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; "></span><span>M</span>entee.ai
                    </a>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#Doc">Documentation</a>
                            </li>
                            
                        </ul>
                        <div class="d-flex">
                            <button class="btn btn-primary me-2 create-account-button ml-2 mr-2" data-toggle="modal" data-target="#signupModal">Create Account</button>
                            <button class="btn btn-outline-primary sign-in-button" data-toggle="modal" data-target="#signinModal">Sign In</button>
                        </div>
                    </div>
                </div>
            </nav>
            
        </header>
        <div class="hero" id="home">
            <div class="left" id="content">
                <div class="container">
                    <div class="maincontent">
                        <h1>Search, Find, and Apply !!</h1>
                        <p class="mt-4 mb-2 lead " style="font-size: 16px; font-family:Arial, Helvetica, sans-serif">Elevate your job search journey with JobAdvisor Your AI Job Companion. Explore custom-tailored job recommendations aligned with your resume, while our counselor chatbot provides personalized advice and support. Find, apply, and excel in your dream career effortlessly with our intuitive platform...</p>
                    </div>
                    <div class="container mt-3 mb-4">
                        <a class="btn btn-primary mt-3" href="/dashboard">Lets Get Started</a>
                      <a class="btn btn-secondary mt-3 ml-3" href="https://ats-resume-builders.netlify.app/" target="_blank">Generate Your CV Here!</a>

                    </div>
                </div>
            </div>
            <div class="right mt-4">
                <div class="container mt-4">
                    <img src="{{ url_for('static', filename='images/job.jpeg') }}" alt="img not found" class="img-fluid make-img-bgremove ">

                </div>
            </div>
        </div>
        
          
     
    </div>
    <section style="display: none;">
        <h1>Hii </h1>
        <form action="/" method="POST"  >
            <textarea id="skillsInput" rows="4" cols="50" name="skills"  placeholder="Enter skills here..."></textarea>

            <button type="submit">Get Domain</button>
        </form>
        <div class="output">
        {% if job_domain %}
          <h3>{{job_domain}}</h3>
        {% endif %}
        </div>
    </section>

    <!-- Sign Up Modal -->
   <!-- Sign Up Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title  mx-left" id="signupModalLabel"><strong >Embark on Your Career Quest with JobMentee Pro</strong> </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Your sign up form goes here -->
                <section class="vh-100">
                    <div class="container py-5 h-100">
                      <div class="row d-flex align-items-center justify-content-center h-100">
                       
                        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                            <h3 class="mb-4">
                                <strong>Sign-Up</strong>
                            </h3>
                          <form action="/dashboard" method="post">

                            <!-- Email input -->
                           
                            <div class="form-outline mb-4">
                              <input type="email" id="form1Example13" class="form-control form-control-lg" />
                              <label class="form-label" for="form1Example13">Email address</label>
                            </div>
                  
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                              <input type="password" id="form1Example23" class="form-control form-control-lg" />
                              <label class="form-label" for="form1Example23">Password</label>
                            </div>
                  
                            <div class="d-flex justify-content-around align-items-center mb-4">
                              <!-- Checkbox -->
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                <label class="form-check-label" for="form1Example3"> Remember me </label>
                              </div>
                              <!-- <a href="#!">Forgot password?</a> -->
                            </div>
                  
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Get Started</button>
                  
                            <div class="divider d-flex align-items-center my-4">
                              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                            </div>
                  
                            <!-- <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                              role="button">
                              <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                            </a> -->
                            <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                              role="button">
                              <i class="fab fa-twitter me-2 mb-3"></i>Continue with LinkedIn</a>
                  
                          </form>
                        </div>
                        <div class="col-md-8 col-lg-7 col-xl-6">
                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-signu-form/draw2.svg"
                              class="" alt="Phone image"> -->
                              <img src="{{url_for('static', filename='images/Signup.jpeg')}}" class="img-fluid" alt="SignUpMe">
                          </div>
                      </div>
                    </div>
                  </section>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Sign Up</button> -->
            </div>
        </div>
    </div>
</div>

   <!-- Sign In Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="signinModalLabel"><strong>Start Exploring! Sign In Now </strong></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Your sign in form goes here -->
                <section class="vh-100">
                    <div class="container py-5 h-100">
                      <div class="row d-flex align-items-center justify-content-center h-100">
                        <div class="col-md-8 col-lg-7 col-xl-6">
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                            class="img-fluid" alt="Phone image">
                        </div>
                        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                            <h3 class="mb-4 mx-auto">
                                <strong>Sign-In</strong>
                            </h3>
                            <form action="/dashboard" method="post">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                              <input type="email" id="form1Example13" class="form-control form-control-lg" />
                              <label class="form-label" for="form1Example13">Email address</label>
                            </div>
                  
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                              <input type="password" id="form1Example23" class="form-control form-control-lg" />
                              <label class="form-label" for="form1Example23">Password</label>
                            </div>
                  
                            <div class="d-flex justify-content-around align-items-center mb-4">
                              <!-- Checkbox -->
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                                <label class="form-check-label" for="form1Example3"> Remember me </label>
                              </div>
                              <a href="#!">Forgot password?</a>
                            </div>
                  
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                  
                            <div class="divider d-flex align-items-center my-4">
                              <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                            </div>
                  
                            <!-- <a class="btn btn-primary btn-lg btn-block" style="background-color: #3b5998" href="#!"
                              role="button">
                              <i class="fab fa-facebook-f me-2"></i>Continue with Facebook
                            </a> -->
                            <a class="btn btn-primary btn-lg btn-block" style="background-color: #55acee" href="#!"
                              role="button">
                              <i class="fab fa-twitter me-2"></i>Continue with LinkedIn</a>
                  
                          </form>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Sign In</button> -->
            </div>
        </div>
    </div>
</div>
<button class="chatbot-toggler effect">
  <span class="material-symbols-rounded">mode_comment</span>
  <span class="material-symbols-outlined">close</span>
</button>
<div class="chatbot">
  <header>
    <h2><span class="material-symbols-outlined">smart_toy</span> JobMentee .AI</h2>
    <span class="close-btn material-symbols-outlined effect">close</span>
  </header>
  <ul class="chatbox">
    <li class="chat incoming">
      <span class="material-symbols-outlined">smart_toy</span>
      <p>Hi there 👋<br>How can I help you today?</p>
    </li>
  </ul>
  <div class="chat-input">
    <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
    <span id="send-btn" class="material-symbols-rounded">send</span>
  </div>
</div>
<script>
 async  function   getResponse(userInput){
    try{
      const resp=await  fetch('http://127.0.0.1:5000/chat', {
        method: 'POST',
       headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({ message: userInput }),
      })
      return resp
    }
    catch(error){
      console.log(error);
      throw Error("error while getting response from server")
    }
  }

  document.getElementById('send-btn').addEventListener('click', function () {
    const userInput = document.querySelector('.chat-input textarea').value;
    if (userInput.trim()) {
      // Display user message
      const userMessageElem = document.createElement('li');
      userMessageElem.className = 'chat outgoing';
      userMessageElem.innerHTML = `<p>${userInput}</p>`;
      document.querySelector('.chatbox').appendChild(userMessageElem);

      // Send message to server

      getResponse(userInput).then((resp=>resp.json())).then(data => {
        // Display bot response
        console.log(data,"DFSGDF");
        const botMessageElem = document.createElement('li');
        botMessageElem.className = 'chat incoming';
        botMessageElem.innerHTML = `<span class="material-symbols-outlined">smart_toy</span><p>${data.response}</p>`;
        document.querySelector('.chatbox').appendChild(botMessageElem);
      })
      .catch(error => console.error('Error:', error));
     // 
     // fetch('http://127.0.0.1:5000/chat', {
     //   method: 'POST',
     //  
     //   body: JSON.stringify({ message: userInput }),
     // })
     //   .then(response => response.json())
     //   .then(data => {
     //     // Display bot response
     //     const botMessageElem = document.createElement('li');
     //     botMessageElem.className = 'chat incoming';
     //     botMessageElem.innerHTML = `<span class="material-symbols-outlined">smart_toy</span><p>${data.response}</p>`;
     //     document.querySelector('.chatbox').appendChild(botMessageElem);
     //   })
     //   .catch(error => console.error('Error:', error));

     // // Clear the textarea
      document.querySelector('.chat-input textarea').value = '';
    }
  });
</script>

<!-- <div class="chatbot">
  <header>
    
    <h2><span class="material-symbols-outlined">smart_toy</span> JobMentee .AI</h2>
    <span class="close-btn material-symbols-outlined effect">close</span>
  </header>
  <ul class="chatbox">
    <li class="chat incoming">
      <span class="material-symbols-outlined">smart_toy</span>
      <p>Hi there 👋<br>How can I help you today?</p>
    </li>
  </ul>
  <div class="chat-input">
    <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
    <span id="send-btn" class="material-symbols-rounded">send</span>
  </div>
</div> -->


{% endblock %}
